
*:focus { outline: 0px !important; }
html, body { font-family: 'robotoregular', sans-serif; }

/* font family class */
.font-light { font-family: 'robotolight'; }
.font-regular { font-family: 'robotoregular'; }
.font-strong , strong { font-family: 'robotobold'; }

video.player { width: 100%; height: auto; }

.col-5 { width: 20%; }

.height-100 { height: 100%; }
.display-table { display: table; width: 100%; text-align: center; height: 100%; }
.display-table-cell { vertical-align: middle; display: table-cell; }

.width-full { width: 100%; }
.pos-rel { position: relative; }

.mar-btm-100 { margin-bottom: 100px !important; }
.mar-top-20 { margin-top: 20px; }
.mar-top-30 { margin-top: 30px; }
.mar-btm-20 { margin-bottom: 20px; }
.mar-btm-30 { margin-bottom: 30px; }

.border-bottom { border-bottom: 1px solid #ccc; }

/* product image */
.store-product { margin: 13px 0; position: relative; background: #fff; }
.store-product .pic { display: block; overflow: hidden; border: 2px solid #fff; position: relative; }
.store-product .pic img {  width: 100%; }
.store-product p { display: block; padding: 8px 10px; color: #fff; display: block; font-size: 13px; }
.store-product .overlay { display: none; }
.store-product .pic .overlay { display: block; }
.store-product:hover .overlay { display: block; }
.overlay { position: absolute; left: 0; top: 0; font-size: 18px; color: #fff; z-index: 1; height: 100%; width: 100%; display: block; background: rgba(0,0,0,0.5); }
.overlay p { padding: 10px; margin: 0; display: block; }


/* nav tabs */
.nav-tabs { border-bottom: none; }
.nav-tabs > li { margin: 0; }
.nav-tabs > li > a { padding: 3px 45px; margin: 0; border: none; border-bottom: 5px solid #fff; color: #575757; border-radius: 0; -webkit-border-radius: 0; font-size: 22px; background: #fff; }
.nav-tabs > li > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border: none; border-bottom: 5px solid #ff6600; background: #fff; }

/* product specifications */
.product-specifications { position: relative; padding: 0 10px 5px; }
.product-specifications .bookmark { position: absolute; right: 15px; font-size: 24px; bottom: 0; }
/* text vertical middle */
.fullheight { height: 100%; overflow: hidden; }
.center-v-box { height: 100%; display: table; width: 100%; }
.center-v-text { display: table-cell; vertical-align: middle; }

.text-overflow { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.icon-section { width: 100%; text-align: center; }
.icon-section span { font-size: 16px; display: block; }
.icon-section span:first-child { margin-bottom: 10px; }
.icon-section span i { font-size: 40px; }

.searchBox, .registerBox, .loginBox, .formViewBox, .formBox { background: url("../images/login-bg2.jpg") no-repeat center center; -webkit-background-size: cover; background-size: cover; background-attachment: fixed; }
.registerBox .register, .loginBox .login { padding: 30px; margin: 60px auto; background-color: rgba(0,0,0,0.3); }

.bg-grey { background-color: #666; color: #fff; }
.blue-bg { background-color: #f2f2f2; color: #333; }
.color-white { color: #fff !important; }

.item-border { background-color: #fff; color: #ff9955; padding: 35px 15px; cursor: pointer; -webkit-transition: 0.3s all; -moz-transition: 0.3s all; -ms-transition: 0.3s all; -o-transition: 0.3s all; transition: 0.3s all; }
.item-border:hover { background-color: #9C3; color: #fff; }

.modal .photo { margin: 15px auto 30px; width: 250px; height: 150px; line-height: 150px; text-align: center; }
.modal .photo img { vertical-align: middle; display: inline-block; width: 100%; height: 100%; }
.modal p { font-size: 16px; }
.modal .item-border { padding: 15px; margin-top: 20px; }
.modal .item-border span { font-size: 16px; }
.modal .icon-section span i { font-size: 35px; }

.btn { border-radius: 25px; -webkit-border-radius: 25px; padding-right: 30px; padding-left: 30px; }
.btn-lg, .btn-group-lg > .btn { font-size: 16px; }
.btn-primary { background: #ff9955; border-color: #ff9955; }
.btn-primary:hover, .btn-primary:focus { background: none; border-color: #ff9955; color: #ff9955;  }

.btn-success { background: #9C3; border-color: #9C3; }
.btn-success:hover, .btn-success:focus { background: #fff; border-color: #9C3; color: #9C3;  }


/* ### wrapper ### */
#wrapper { width: 100%; min-height: 100%; }

/* ### header container ### */
#headerCntr { position: relative; z-index: 999; box-shadow: 0 2px 10px rgba(0,0,0,0.3); }

/* ### linkBox ### */
.menuBox { text-align: center; }
.menuBox li { margin: 0 -2px 0 -1px; display: inline-block; vertical-align: middle; }
.menuBox li a { padding: 12px 24px; font-family: 'robotobold'; font-size: 15px; line-height: 20px; color: #ff9955; text-transform: uppercase; }
.menuBox li a:hover, .menuBox li a:active, .menuBox li a:focus, .menuBox li.active a { color: #073e76; }
.menuBox .home { font-size: 20px; }

/* ### headerBox ### */
.headerBox { padding: 10px 0; border-bottom: 1px solid #dedee4; }
.logo { width: 230px; float: left; display: block; }
.logo img { width: 100%; }
.admin-panel { float: right; }
.admin-panel li { float: left; }
.admin-panel li a { padding: 5px 15px; display: block; text-transform: uppercase; font-size: 15px; line-height: 20px; color: #708d08; }
.admin-panel li a:hover { color: #5e7606; }

.ul-list { padding: 30px 0; }
.ul-list h4 { padding-bottom: 13px; font-size: 16px; color:  #fff; border-bottom: 1px solid #7c7c7c; }
.ul-list li { padding: 2px 0; line-height: 1.7; font-size: 14px; color: #d3d3d3; }

.ul-list li a { line-height: 1.7; color: #d3d3d3; }

.ul-center { padding: 15px 0; background-color: #333; }
.ul-center ul { text-align: left; margin: auto; display: table; }
.ul-center li { padding: 0 15px; float: left; line-height: 23px; color: #98989a; }
.ul-center li a { display: block; color: #98989a; }

/* ### searchBox ### */
.searchBox { height: 560px; }
.search-section { padding: 25px 15px; max-width: 800px; margin: auto; background-color: rgba(0,0,0,0.3); }
.searchBox .icon-section { position: absolute; bottom: 20px; left: 0px; }
.searchBox .icon-section span:first-child { display: block; width: 80px; height: 80px; line-height: 80px; text-align: center; border-radius: 50%; -webkit-border-radius: 50%; margin:0 auto 8px; color: #fff; background: rgba(0,0,0,0.2); }
.searchBox .icon-section span:first-child i { vertical-align: middle; font-size: 35px; }
.searchBox .icon-section > div { cursor: pointer; padding-top: 20px; padding-bottom: 10px; }
.searchBox .icon-section span + span { display: block; color: #fff; text-align: center; }
.searchBox .circle-box:hover span:first-child { background: rgba(0,0,0,0.5); }


/* ### registerBox ### */
.registerBox .register { max-width: 550px; }
.registerBox span { padding: 0 30px; display: block; text-align: center; font-size: 18px; color: #fff; }
.registerBox span .fa { font-size: 35px; display: block; }

/* ### login box ### */
.loginBox { padding-top: 80px; padding-bottom: 80px; }
.loginBox .login { position: relative; max-width: 800px; }
.loginBox span { display: block; font-size: 20px; color: #fff; }
.loginBox span .fa { font-size: 30px; margin-right: 10px; vertical-align: bottom; }
.loginBox hr { margin-top: 10px; }
.loginBox .btn-primary { min-width: 150px; }
.loginBox .top-button { position: absolute; left: 25px; top: 15px; color: #333; }
.loginBox a { color: #fff; }
.loginBox h4 { margin: 40px 0 20px 0; color: #fff; }
.loginBox ul { list-style-type: circle; margin: 20px; }
.loginBox li { color: #fff; }

/* ### featureBox ### */
.featureBox { padding-top: 40px; padding-bottom: 60px; }
.featureBox .icon-section > li { margin-bottom: 20px; display: none; }
.featureBox .icon-section { margin-top: 30px; }
.featureBox small { color: #ff9966; }

/* ### featureBox ### */
.filterBox { padding-top: 60px; padding-bottom: 40px; }

.left-side { float: left; width: 250px; }
.right-side { padding-left: 40px; float: left; width: calc(100% - 250px); }

.left-side .nav-tabs { border-bottom: 0px; }
.left-side .nav-tabs > li { float: none; margin: 0px; }
.left-side .nav-tabs > li > a { border: 0px; margin: 0px; border-radius: 0px; }
.left-side .nav-tabs > li.active > a, .left-side  .nav-tabs > li.active > a:hover, .left-side .nav-tabs > li.active > a:focus { border: 0px; }
.left-side .panel-default { border-color: #ff9955; border-radius: 0px; }
.left-side .panel-default > .panel-heading { border-radius: 0px; }
.left-side .panel-default > .panel-heading, .left-side .nav-tabs > li.active > a, .left-side  .nav-tabs > li.active > a:hover, .left-side .nav-tabs > li.active > a:focus { background: #ff9955; border-color: #ff9955; color: #fff; }

.list-section li .inner { padding-top: 20px; padding-bottom: 20px; border-top: 1px solid #ccc; }
.list-section li .inner.border-none { border-top: 0px; }
.list-section .photo { float: left; width: 80px; height: 80px; line-height: 80px; text-align: center; }
.list-section .photo img { width: 100%; height: 100%; display: inline-block; vertical-align: middle; }
.list-section .text { padding-left: 20px; float: left; width: calc(100% - 80px); }
.list-section .text h4 { margin: 0 0 5px; }
.list-section .text p { margin-bottom: 5px; }
.list-section .text p a { font-style: normal; }
.list-section .text a { color: #FF9966; font-style: italic; }



/* ### listBox ### */
.listBox { padding-top: 40px; padding-bottom: 40px; }

/* ### lookingBox ### */
.lookingBox { padding-top: 50px; padding-bottom: 40px; }
.lookingBox .looking { max-width: 700px; margin: auto; }
.lookingBox .radio label { color: #333; }
.form-horizontal .control-label { font-weight: 400; }
.form-horizontal span.text-center { display: block; font-size: 16px; }
.form-horizontal hr { border-top-color: #777; margin-bottom: 40px; }

/* ### footer container ### */
#footerCntr { background-color: #9C3; }

/* ### footer box ### */
.footerBox { background-color: #666; }
.footerBox h3 { font-size: 32px; font-family: 'robotolight'; color: #fff; text-align: center; }
.footerBox h3 span { font-family: 'robotoregular'; }

.footer-list { padding-top: 0px; }
.footer-list .inner { padding-right: 20px; }
.footer-list h4 { padding-top: 40px; padding-bottom: 10px; font-size: 16px; font-family: 'robotoregular'; color:  #ddd; border-bottom: 1px solid #7c7c7c; }
.footer-list li span { padding-bottom: 3px; vertical-align: middle; font-size: 13px; font-family: 'robotoregular'; display: block; }
.footer-list li { padding: 2px 0; line-height: 1.7; font-size: 14px; color: #ddd; }
.footer-list li a { line-height: 1.7; color: #ddd; }
.footer-list li a span { padding-bottom: 0; vertical-align: inherit; font-size: 14px; font-family: 'robotolight'; display: inline-block; }

.footer-list li .fa { vertical-align: middle; padding-right: 10px; color: #ddd; font-size: 22px; }
.footer-list li .fa-twitter { color: #00a3d3; }
.footer-list .block-1 li { padding: 10px 0 20px; line-height: 1.8; }
.footer-list .block-2 ul { padding: 8px 0; }
.footer-list .app-store li { padding: 7px 0; }
.footer-list .block-2 .card-block { padding-top: 0px; max-width: 100px; overflow: hidden;}
.footer-list .card-block li { float: left; }
.footer-list .card-block li { padding-right: 10px; padding-bottom: 10px; }

.bottom-footer { margin-top: 20px; padding: 15px 0; background-color: #444; }
.bottom-footer .logo-footer { float: left; width: 160px; }
.bottom-footer .logo-footer img { max-width: 100%; }
.bottom-footer ul { margin-bottom: 0px; float: left; width: calc(100% - 160px); text-align: left; }
.bottom-footer li { padding: 0 15px; line-height: 23px; display: inline-block; color: #f2f2f2; font-size: 13px; font-family: 'robotoregular'; }
.bottom-footer li a { color: #f2f2f2; }
.bottom-footer li span { font-family: 'robotolight'; }



.search .radio { margin-top: 0px; }
.search .radio label { color: #000; }
.admin-panel li.seprator { margin: 0 5px; width: 1px; height: 30px; text-align: center; line-height: 30px; }
.admin-panel li.seprator span { display: inline-block; width: 1px; vertical-align: middle; height: 20px; background-color: #708d08; }

.siderBox { padding: 50px 60px 40px; overflow: hidden; background: #9C3; position: relative; background: url(../images/sliderbg.jpg) center center no-repeat; background-size: cover; }
.siderBox h3, .siderBox p { margin: 0px; padding: 0; text-transform: none; text-align: center; color: #fff; }
.siderBox p { font-size: 14px; }
.siderBox h3 { color: #333;  }
.siderBox .frames { margin: 20px 0 0; overflow: hidden; width: 100%; position: relative; }
.siderBox .frames h3 { color: #fff; font-size: 18px; }
.siderBox .frames .overlay { padding: 0 15px; opacity: 0; top: -100px; transition: all 0.3s; -webkit-transition: all 0.3s; background: rgba(18,136,7,0.7);  }
.siderBox .frames:hover .overlay { opacity: 1; top: 0; }
.siderBox .frames img { width: 100%; }
.siderBox .owl-next, .siderBox .owl-prev { position: absolute; font-size: 12px; text-transform: uppercase; border-radius: 50%; -webkit-border-radius: 50%; color: #9C3; top: 50%; transition: all 0.3s; -webkit-transition: all 0.3s; left: -120px; height: 50px; width: 50px; border: 1px solid #9C3; text-align: center; line-height: 48px;  background: #fff; }
.siderBox .owl-next { left: auto; right: -120px; }
.siderBox .owl-next:hover, .siderBox .owl-prev:hover { background: #9C3; color: #fff; border-color: #9C3; }
.siderBox:hover .owl-prev { left: -55px; }
.siderBox:hover .owl-next { right: -55px; }
.siderBox .overlay { position: absolute; left: 0; z-index: 0; top: 0; width: 100%; height: 100%; background: rgba(255,153,51,0.9); }
.siderBox { }

.registerBox label { color: #fff; text-shadow: none; font-weight: normal }
.formBox { }
.formBox { }


.formViewBox { padding: 30px 0 40px; color: #fff; }
.formViewBox .first { padding: 10px 0; border-top: 1px solid #fff; }
.formViewBox .second { padding-bottom: 10px; }
.formViewBox .second + .second { padding-top: 10px; border-top: 1px solid #fff; }
.formViewBox .second.last { padding-bottom: 0px; }
.formViewBox img { width: 100%; display: block; }
.formViewBox h3 { margin: 15px 0; }

@media only screen and (max-width: 1199px) {
	
	.menuBox li a { padding: 12px 10px; }
	
}

@media only screen and (max-width: 1024px) {

}

@media only screen and (min-width : 768px) and (max-width : 1023px) {

}

@media only screen and (max-width: 991px) {
	
	.logo { margin-top: 3px; width: 170px; }
	.admin-panel li a { padding: 3px 10px; }
	.menuBox li a { font-size: 12px; font-family: 'robotoregular'; padding: 10px 8px; }
	
}

@media only screen and (max-width: 767px) {

	.headerBox, .headerBox .container { padding: 0; }
	.headerBox .logo { margin-left: 10px;}
	.admin-panel { background: #ff9955; width: 100%; margin: 0 !important; }
	.menuBox { background: rgba(0,0,0,0.5); }
	.menuBox  .navbar-nav { margin: 0; }
	.admin-panel li, .menuBox li { float: left; width: 100%; }
	.admin-panel li a, .menuBox li a { padding: 8px 15px; font-size: 13px; color: #fff; display: block; text-align: right; }
	.menuBox li a:hover, .menuBox li a:active, .menuBox li a:focus, .menuBox li.active a, .admin-panel li a:hover { text-decoration: none; background: #fff; }
	.logo { margin-top: 8px; }
	.navbar-toggle { margin: 0 10px; color: #fff; }
	.navbar-toggle.menubtn-top { margin: 0 10px 0 0; color: #ff9955; }
	.searchBox { height: auto; }
	.searchBox .btn-primary { margin-top: 10px; }
	.footer-list h4 { padding-top: 10px; }
	.bottom-footer { margin-top: 15px; }
	.bottom-footer .logo-footer, .bottom-footer ul { float: none; width: auto; }
	.bottom-footer .logo-footer { width: 150px; display: block; margin-bottom: 10px; }
	.bottom-footer li { padding: 0; }
	.col-5, .featureBox .icon-section > li { width: 50%; float: left; }
	.searchBox .icon-section { position: static; }
	.mar-btm-100 { margin-bottom: 0 !important; }
}

@media only screen and (max-width: 700px) {

}

@media only screen and (max-width: 680px) {
}

@media only screen and (max-width: 480px) {
    .width-full-480 { width: 100%; }


}
